.title {
    font-size: 3em;
    text-align: center;
    margin: auto;
  }

main {
  display: flex;
  justify-content: start;
  align-items: center;
}

.subtitle {
  font-size: 1.5em;
  text-align: center;
  color:white;
}